@font-face {
    font-family: 'DinaRemasterII';
    src: url('/fonts/DinaRemasterII.ttc') format('truetype');
}

@font-face{
    font-family: 'Pulse_virgin'; 
    src: url('/fonts/Pulse_virgin.ttf') format('truetype');
}
