---
// Footer: Xerox Underground brand + minimal copyright.
---
<footer class="footer">
  <span class="footer__brand">METAL ARCHIVE</span>
  &nbsp;·&nbsp;
  Catálogo de metal underground
  &nbsp;·&nbsp;
  <a href="/" style="color: var(--text-footer);">xeroxunderground.com</a>
</footer>
